# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Data files
data/processed/*.csv
data/raw/*.csv

# Jupyter Notebook
.ipynb_checkpoints
